@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-champagne antialiased;
  }
}

.gold-gradient {
  background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gold-border {
  border-image: linear-gradient(to right, #BF953F, #FBF5B7, #AA771C) 1;
}

.glass {
  background: rgba(92, 10, 10, 0.4);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(212, 175, 55, 0.2);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #2D0505;
}

::-webkit-scrollbar-thumb {
  background: #D4AF37;
  border-radius: 10px;
}